.body {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #FAFAFA;
}

.body .top {
    position: absolute;
    height: 15%;
    top: 1%;
    right: 1%;
    left: 1%;
    background: #FFFFFF;
}

.body .mid {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15%;
    bottom: 15%;
}

.body .bottom {
    position: absolute;
    height: 15%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.body .top .t-img1 {
    position: absolute;
    left: 20%;
    top: 15%;
}

.body .top .t-d1 .t-d1-u1>li {
    float: left;
}



.body .top .t-d1 .t-d1-u1 {
    position: absolute;
    right: 13%;
    width: 25%;
    top: 45%;
}

.body .top .t-d1 .t-d1-u1 .l1 {
    margin-right: 3%;
}

.body .top .t-d1 .t-d1-u1 .l2 {
    margin-left: 7%;
    margin-top: -2%;
    margin-right: 1%;
}

.body .mid .m-left {
    position: absolute;
    width: 50%;
    top: 0%;
    left: 0%;
    bottom: 0%;

}

.body .mid .m-left>img {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 50%;
    height: 50%;
}

.body .mid .m-right {
    position: absolute;
    width: 50%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.body .mid .m-right .m-r-top {
    position: absolute;
    top: 7%;
    left: 25%;
    width: 30%;
}


.body .mid .m-right .m-r-bottom {
    position: absolute;
    background: #FFFFFF;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 5%;
    border: 1px #cccccc solid;
}


.body .mid .m-right .m-r-top .sp1 {
    position: absolute;
    left: -16%;
    margin-top: -2%;
}

.body .mid .m-right .m-r-top .sp2 {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10%;
}

.body .mid .m-right .m-r-bottom>form {
    padding-top: 10%;
}

.body .mid .m-right .m-r-bottom>form .usn {
    background: url("../images/user_name_bg.png") no-repeat 5px;
    padding-left: 10%;
}

.body .mid .m-right .m-r-bottom>form .psd {
    background: url("../images/psw_bg.png") no-repeat 5px;
    padding-left: 10%;
}



.body .mid .m-right .m-r-bottom>form>div {
    margin-left: 24%;
}

.body .mid .m-right .m-r-bottom>form>div>input {
    height: 35px;
    width: 60%;
}

.body .mid .m-right .m-r-bottom>form>div .checkbox {
    height: 15px;
    margin-left: 0%;
    width: 7%;
    margin-top: 2%;
}

.body .mid .m-right .m-r-bottom>form>div>label {
    position: absolute;
    top: 38%;
}

.body .mid .m-right .m-r-bottom>form>div>a {
    position: absolute;
    color: #cccccc;
    right: 20%;
    bottom: 58%;
}


.body .mid .m-right .m-r-bottom>form .denglu {
    display: block;
    background: url("../images/img05.png") no-repeat;
    width: 72%;
    height: 33px;
    border: 0px;
    color: rgb(255, 255, 255);
}

.body .mid .m-right .m-r-bottom>form .hr1 {
    width: 80%;
    height: 2px;
    margin: 3% auto;
    background: #cccccc;
    border: 0px;
}

.body .bottom .b-box1 {
    position: absolute;
    left: 42%;
    color: #443d3d86;
    font-size: 15px;
}

.body .bottom .b-box2 {
    position: absolute;
    left: 40%;
    top: 17%;
    color: #443d3d86;
    font-size: 15px;
}

.select2 {
    position: absolute;
    bottom: 12%;
    right: 53%;
}